<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>

	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span>Cadastro de Produto</span></li>
				</ul>
				<a class="btn btn-primary btn-md" th:href="@{/produtos/listar}"
					role="button"> <span class="oi oi-spreadsheet" title="Listar"
					aria-hidden="true"></span> <span>Listar Produtos</span>
				</a>
			</div>
		</nav>

		<div class="container" id="cadastro">


			<div th:replace="fragments/alert"></div>
			<!-- Replace Responsavel pela mensagem de sucesso ou erro -->

			<form
				th:action="${produto.id == null} ?  @{/produtos/salvar} :  @{/produtos/editar}"
				th:object="${produto}" method="POST">

				<div class="form-row">
					<div class="form-group col-md-3">
						<label for="nome">Código</label> <input type="text"
							class="form-control" id="descricao" placeholder=""
							autofocus="autofocus" th:field="*{id}" disabled="disabled" />
					</div>
				</div>


				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="nome">Produtos</label> <input type="text"
							class="form-control" id="descricao"
							placeholder="Nome do Produto" autofocus="autofocus"
							th:field="*{descricao}" required="required" />
					</div>
					<div class="form-group col-md-5">
						<label for="nome">Preço</label> <input type="number"
							class="form-control" id="preco" data-mask="#000.000.000,00" maxlength="20"
							placeholder="Preço" autofocus="autofocus" th:field="*{preco}"
							required="required" />
					</div>

				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="nome">Unidade de Estoque</label> <input type="text"
							class="form-control" id="unidadeestoque" maxlength="20"
							placeholder="Unidade de estoque" autofocus="autofocus"
							th:field="*{unidadeEstoque}" required="required" />
					</div>
					<div class="form-group col-md-5">
						<label for="nome">Estoque Atual</label> <input type="text"
							class="form-control" id="estoqueatual"
							placeholder="Estoque do Produto" autofocus="autofocus"
							th:field="*{estoqueAtual}" required="required" />
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-4">
						<label for="grupo">Grupos</label> <select id="grupo"
							class="form-control" th:field="*{grupo}">
							<option value="">Selecione</option>
							<option th:each="g : ${grupos}" th:value="${g.id}"
								th:text="${g.descricao}">lista dos grupos</option>
						</select>
					</div>
				</div>


				<div class="form-row" th:if="${produto.id != null}">
					<section class="layout-content">
						<div class="col-sm-7 form-group">
							<fieldset class="fieldset-border">
								<legend class="legend-border">Fornecedores</legend>

								<div class="form-group row">
									<div class="form-group col-md-4">
										<select id="fornecedores" class="form-control"
											th:field="${fornecedores}">
											<option th:value="0">Selecione</option>
											<option th:each="f : ${fornecedores}" id="teste"
												th:value="${f.id}" th:text="${f.nome}">lista dos
												fornecedores</option>

										</select>
									</div>

									<div class="form-group col-sm-2">
										<button type="button"
											th:id="${ 'btnInsert_/produtos/fornecedor/'  }"
											class="btn  btn-primary js-add-new-pernoite">Adicionar</button>
									</div>
								</div>

							</fieldset>
						</div>

					</section>

					<div class="table-responsive">
						<table class="table table-striped table-hover table-sm">
							<thead>
								<tr>

									<th>Fornecedor</th>
									<th>Ação</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="for : *{ProdutosFornecedores}">
									<td th:text="${for.fornecedorid.nome}">Nome do objeto</td>


									<td >
										<button type="button"
											th:id="${ 'btnRemoved_/produtos/fornecedor/excluir/'+ for.id }"
											class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal">
											<span class="oi oi-circle-x" title="Exclusão"
												aria-hidden="true"></span></button>
											
									
									</td>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div class="form-group">
					<input type="checkbox" th:field="*{ativo}" value="1"
						th:checked="checked"> Ativo
					<!-- <input type="radio" th:field="*{ativo}" value="0"> No<br> -->
				</div>
				<br> <input type="hidden" id="id" th:field="*{id}" />
				<button type="submit" class="btn btn-primary btn-sm">Salvar</button>
				<a class="btn btn-primary btn-sm" th:href="@{/produtos/cadastrar}"
					role="button"> <span title="Novo" aria-hidden="true"></span> <span>Novo</span>
				</a>
			</form>
		</div>

		<div th:replace="fragments/modal :: modal"></div>
	</section>
<script type="text/javascript">

</script>
</body>
</html>
