<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"/></head>
<body>
	
	    <section class="layout-content" layout:fragment="corpo">
	
	        <nav class="navbar navbar-expand-md bg-light">
	            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	                <ul class="navbar-nav mr-auto">
	                    <li class="nav-item active">
	                        <i class="oi oi-caret-right"></i>
	                        <span>Cadastro de Cliente</span>
	                    </li>
	                </ul>
	                <a class="btn btn-primary btn-md" th:href="@{/clientes/listar}" role="button">
	                    <span class="oi oi-spreadsheet" title="Listar" aria-hidden="true"></span>
	                    <span>Listar</span>
	                </a>
	            </div>
	        </nav>
	
	        <div class="container" id="cadastro">
	        
	        
	         <div th:replace="fragments/alert"></div><!-- Replace Responsavel pela mensagem de sucesso ou erro -->
	        
	            <form th:action="${cliente.id == null} ?  @{/clientes/salvar} :  @{/clientes/editar}"
	             th:object="${cliente}" method="POST">
	                <div class="form-row">
	                    <div class="form-group col-md-6">
	                        <label for="nome">Nome do cliente</label>
	                        <input type="text" class="form-control" id="nome" placeholder="Nome Completo"
	                               autofocus="autofocus" name="nome" th:field="*{nome}"/>
	                        <div class="invalid-feedback">
	
	                        </div>
	                    </div>
	                      <div class="form-group col-md-6">
	                        <label for="cidade">CPF/CNPJ</label>
	                        <input type="text" class="form-control" id="cidade" name="endereco.cidade" 
	                         th:field="*{cpfCnpj}"/>
	                        <div class="invalid-feedback">
	
	                        </div>
	                    </div>
	                    <div class="form-group col-md-6">
	                        <label for="salario">Email</label>
	                        <input type="text" class="form-control" id="email"  name="email" th:field="*{email}"/>
	                        <div class="invalid-feedback">
	
	                        </div>
	                    </div>
	                </div>
	                <div class="form-row">
	                    <div class="form-group col-md-6">
	                        <label for="dataEntrada">Telefone</label>
	                        <input type="text" class="form-control" id="dataEntrada" name="dataEntrada" 
	                         data-mask="(00) 00000-0000" th:field="*{telefone}"/>
	                        <div class="invalid-feedback">
	
	                        </div>
	                    </div>
	                    <div class="form-group col-md-6">
	                        <label for="dataSaida">Data de nascimento/abertura</label>
	                        <input type="date" class="form-control" id="dataNascimento" name="dataNascimento" th:field="*{dataNascimento}"/>
	                        <div class="invalid-feedback">
	
	                        </div>
	                    </div>
	                </div>
	                
	                <div class="form-row">
	                    <div class="form-group col-md-6">
	                        <label for="cidade">Cidade</label>
	                        <input type="text" class="form-control" id="cidade" name="endereco.cidade" th:field="*{endereco.cidade}"/>
	                        <div class="invalid-feedback">
	
	                        </div>
	                    </div>
	                    <div class="form-group col-md-6">
	                        <label for="logradouro">Logradouro</label>
	                        <input type="text" class="form-control" id="logradouro" placeholder="logradouro sem número"
	                               name="endereco.logradouro" th:field="*{endereco.logradouro}"/>
	                        <div class="invalid-feedback">
	
	                        </div>
	                    </div>
	                </div>
	                <div class="form-row">
	                    <div class="form-group col-md-6">
	                        <label for="numero">Número</label>
	                        <input type="text" class="form-control" id="numero" name="endereco.numero" th:field="*{endereco.numero}"/>
	                        <div class="invalid-feedback">
	
	                        </div>
	                    </div>
	                    <div class="form-group col-md-6">
	                        <label for="complemento">Complemento</label>
	                        <input type="text" class="form-control" id="complemento" placeholder="fundos, casa, AP. 102, .."
	                               name="endereco.complemento" th:field="*{endereco.complemento}"/>
	                        <div class="invalid-feedback">
	
	                        </div>
	                    </div>
	                </div>
	                <div class="form-row">
	                    <div class="form-group col-md-6">
	                        <label for="bairro">Bairro</label>
	                        <input type="text" class="form-control" id="bairro" name="endereco.bairro" th:field="*{endereco.bairro}"/>
	                        <div class="invalid-feedback">
	
	                        </div>
	                    </div>
	                   
	                    <div class="form-group col-md-4">
	                        <label for="uf">UF</label>
	                        <select id="uf" class="form-control" name="endereco.uf">
	                            <option value="">Selecione...</option>
	                            <option th:each="uf : ${ufs}" th:value="${uf}" th:text="${uf.sigla}"></option>
	                        </select>
	                        <div class="invalid-feedback">
	
	                        </div>
	                    </div>
	                     <div class="form-group col-md-2">
	                        <label for="cep">Cep</label>
	                        <input type="text" class="form-control" id="cep" data-mask="00000-000" name="endereco.cep"
	                              th:field="*{endereco.cep}"/>
	                        <div class="invalid-feedback">
	
	                        </div>
	                    </div>
	                    </div>
	                   
	               
	                <input type="hidden" id="id" name="id" th:field="*{id}"/>
	                <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
	            </form>
	        </div>
	    </section>
</body>
</html>		